<h1 class="page_title">Listing users</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<table class="main">
  <tr>
    <th>Name</th>
    <th colspan="2">Actions</th>
  </tr>
<% ii = 0 %>
<% @users.each do |user| %>
  <% ii += 1 %>
  <% ii%2 == 0 ? style = "class='odd'" : style = ' ' %>
  <tr <%= style %>>
    <td><%= user.name %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="actions">
  <%= link_to 'New User', new_user_path %>
</div>