<h1>Listing galleries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>

<% @galleries.each do |gallery| %>
  <%= form_tag("/gallerie", :method => "update_categoryid") do %>
    <tr>
      <td><%= gallery.title %></td>
      <td><%= gallery.description %></td>
      <td>
          <%= Category.find(gallery.category_id).title %>
      </td>
      <td><%= link_to 'Show', gallery %></td>
      <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
      <td><%= link_to 'Destroy', gallery, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Gallery', new_gallery_path %>
