<div class="page_title"><h1>Listing galleries</h1></div>


<table class="main">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th colspan="2">Actions</th>
  </tr>
<% ii = 0 %>
<% @galleries.each do |gallery| %>
  <%= form_tag("/gallerie", :method => "update_categoryid") do %>
    <% ii += 1 %>
    <% ii%2 == 0 ? style = "class='odd'" : style = ' ' %>
    <tr <%= style %>>
      <td><%= gallery.title %></td>
      <td><%= gallery.description %></td>
      <td>
          <%= Category.find(gallery.category_id).title %>
      </td>
      <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
      <td><%= link_to 'Destroy', gallery, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<div class="actions">
<%= link_to 'New Gallery', new_gallery_path %>
</div>