<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @image.fname %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
  <b>Seentimes:</b>
  <%= @image.seentimes %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
