<!DOCTYPE html>
<html>
<head>
  <title>Rgallery</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div class="menu">
  <%= link_to "Add", dirlist_index_path %>
  <%= link_to "Images", images_path %>
  <%= link_to "Galleries", galleries_path %>
  <%= link_to "Categories", categories_path %>
  <%= link_to "Users", users_path %>
  <%= link_to "Logout", logout_path %>
</div>
<%= yield %>

</body>
</html>
