<!DOCTYPE html>
<html>
<head>
  <title>RGallery</title>
  <%= stylesheet_link_tag    "site", :media => "all" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>' bgcolor="#111111">

<%= yield %>

</body>
</html>
